

    <div class="cocktail-show">
      <div class="card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
               url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill unless @cocktail.photo.blank? %>')">
        <div class="card-category">Enjoy...</div>
        <div class="card-description">
          <h2><%= @cocktail.name %></h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>


<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <h3>Works best with: </h3>
      <% @cocktail.doses.each do |dose| %>
      <p> <%= dose.description %> <p>
      <%= link_to "Delete Dose", dose_path(dose), method: :delete %>
      <% end %>
       <br>
      <%= link_to ' < Back ', cocktails_path %>

      <%= render "doses/form", cocktail: @cocktail, dose: @dose %>
    </div>
  </div>
</div>
